[scenario]
	id=Khaganate
	name=_"Serpent Khaganate"
	map_data="{~add-ons/Flaming_Steppe/maps/TestKhaganate.map}"
	next_scenario=The_Camp
	random_start_time="yes"
	{DEFAULT_SCHEDULE}
	[side]
		{USER_SIDE_RECALL 1 0 no}
	[/side]
	[side]
		{USER_SIDE_RECALL 2 0 no}
	[/side]
	[side]
		side=3
		controller=ai
		canrecruit=yes
		gold=150
		income=-2
		fog=no
		village_gold=1
		type=Khaganate_Naga_General
		recruit=Khaganate_Naga_Overseer,Khaganate_Slave_Spearman,Khaganate_Slave_Bowman,Khaganate_Vampire,Khaganate_Slave_Rouser
		allow_player=false
		team_lock=true
		team_name=khaganate
		user_team_name= _ "Serpent Khaganate"
	[/side]
	[side]
		side=4
		controller=ai
		canrecruit=yes
		gold=200
		income=-2
		fog=no
		village_gold=1
		type=Khaganate_Serpenthead_Tarhan
		recruit=Khaganate_Serpenthead,Khaganate_Gnoll_Biter
		allow_player=false
		team_lock=true
		team_name=khaganate
		user_team_name= _ "Serpent Khaganate"
	[/side]
	[side]
		side=5
		controller=ai
		canrecruit=yes
		gold=100
		income=-2
		fog=no
		village_gold=1
		type=Khaganate_Serpenthead_Immortal
		recruit=Khaganate_Salamander,Khaganate_Nuckelavee
		allow_player=false
		team_lock=true
		team_name=khaganate
		user_team_name= _ "Serpent Khaganate"
	[/side]
	[event]
		name=prestart
		[get_recruit_list]
			[filter_side]
				side=2
			[/filter_side]
		[/get_recruit_list]
		[message]
			speaker=Leader1
			message=$recruit_list[0].recruit_list|
		[/message]
	[/event]
	
	{RAGE_BUFF_EVENTS 1}
	{RAGE_BUFF_EVENTS 2}
	{SAVE_RECRUIT_LIST_AND_DISABLE 1}
	{SAVE_RECRUIT_LIST_AND_DISABLE 2}
	[event]
		name=start
		#[modify_side]
		#	side=3
		#	{FLAG_VARIANT long}
		#[/modify_side] 
		#[modify_side]
		#	side=4
		#	{FLAG_VARIANT long}
		#[/modify_side] 
		#[modify_side]
		#	side=5
		#	{FLAG_VARIANT undead}
		#[/modify_side] 
	[/event]
	[event]
        name=start
	{RECALL_EVERYONE "1,2"}
	[/event]
[/scenario]
